body{
  font-family: "Roboto Condensed","Lucida Sans Unicode", "Lucida Grande", sans-serif;
  position:absolute;
  height:100%;
  width: 100%;
  top:0px;
  margin: 0px;
  font-size: 12pt;
  background:#f1f1f1;
  overflow-x: hidden;
}
*{
  outline:none;
}

h4, h3, p{
  margin:0px;
  margin-top:10px;
  margin-bottom:10px;
}

.header{
  position:relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:60px;
  padding-bottom:60px;
  /*height:25%;*/
  background: url(../images/bg_header2.jpg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center; 
  width:100%;
  color:#fff;
}

.header input[type=text]{
    padding-right: 15px;
    padding-left: 15px;
    padding-top:10px;
    padding-bottom: 10px;
     background: rgba(0,0,0,0.4);
    border: 2px solid rgba(255, 255, 255, 0.5);
    color:#FFF;
    border-radius: 15px;
    width: 100%;
    font-size: 12.5pt;
    font-style: italic;
}

.header .row-butt{
  position:relative;
  width:80%;
  margin-bottom:10px;
}


.header .row-butt .suggestion{
  position:absolute;
  display:none;
}

.main-buttons{
  position:relative;
  margin-top:10px;
}

.main-buttons .row-butt {
  position:relative;
  width:95%;
  margin:auto;

}

.main-buttons .row-butt button{
  text-align:center;
  position:relative;
  border: none;
  border-radius:5px;
  width:45%;
  float:left;
  margin-left:2.5%;
  margin-bottom: 2.5%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 10px;
  height:100%;
}

.main-buttons .row-butt button img{
  position:relative;
  width:40%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.map-header{
  position:relative;
  top:0px;
  width:100%;
  height:40%;
}

.risk, .safety, .real-time .info{
  position:relative;
  width:90%;
  margin:auto;
}

.progress-risk{
  position:relative;
  width:100%;
  background-color: #e3e3e3;
}

.progress-risk .rp{
  position:relative;
  background-color: orange;
}

.danger-risk{
  position:relative;
  width:100%;
  background-color: #e3e3e3;
}

.danger-risk .dp{
  position:relative;
  background-color: green;
}

.real-time{
  padding-top: 10px;
}

.real-time .info{
  margin-bottom: 20px;
}

.info-bus{
  position:relative;
  width:90%;
  margin:auto;
}

.info-bus table td{
  font-size:15pt;
  font-weight: bold;
}

.add-comment{
  position:relative;
  width:90%;
  margin:auto;
  margin-bottom:20px;
}

/********* Screens *********/
.screen{
  position:relative;
  display: none;
  height:100%;
  width:100%;
}
/************************CSS FOR THE STARS*****************************/

form {
  width: 200px;
  margin: 5px auto;
}

form p,
form input[type="submit"] {
  padding-right: -10px;
  text-align: right;
  font-size: 45px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}





